<a href="#" class="list-group-item clearfix" (click)="onSelected()">
    <!-- the ngFor allows us to loop through the elmts in transactions - transactions being the name of the array of Transaction in the trans-list.comp -->
    <h4 class="list-group-item-heading">{{transaction.category}}
        <!-- calling this with item.nameofthepropfromtrans-list.comp -->
    </h4>
    <p class="list-group-item-text">{{transaction.amount}}</p>
    <p class="list-group-item-text">{{transaction.date}}</p>
    <p class="list-group-item-text">{{transaction.account}}</p>
    <pre class="list-group-item-text">{{transaction.transactionType}}</pre>
    <img src={{transaction.icon}} alt="" class="img-responsive" style="max-height: 30px">
    <!-- <button type="button" class="btn">Detaaaails</button> -->
</a>