<a href="#" class="bande clearfix" (click)="onSelected()">
    <!-- the ngFor allows us to loop through the elmts in transactions - transactions being the name of the array of Transaction in the trans-list.comp -->
    <!-- <img src="" alt="the image should be here :(" class="img-responsive icon" style="max-height: 30px"> -->

    <p class="category">{{transaction.icon}}{{transaction.category}}
        <!-- calling this with item.nameofthepropfromtrans-list.comp -->
    </p>
    <p class="amount">{{transaction.amount}}</p>
    <p class="hide-this">{{transaction.date}}</p>
    <p class="hide-this">{{transaction.account}}</p>

    <pre class="hide-this">{{transaction.transactionType}}</pre>


    <!-- <button type="button" class="btn">Detaaaails</button> -->
</a>