<div class="row">
    <p>INCOME</p>
    <div class="form-group">
        <div class="col-sm-6">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control">
        </div>
        <div class="col-sm-6">
            <div class="dropdown" appDrop>
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <div class="row">

                    <div class="form-group">
                        <md-input-container>
                            <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
                            <button mdSuffix [mdDatepickerToggle]="picker"></button>
                        </md-input-container>
                        <md-datepicker #picker></md-datepicker>
                    </div>

                </div>
                <div class="col-sm-6">
                    <div class="dropdown" appDrop>
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Account selection<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">acc1</a></li>
                            <li><a href="#">acc2</a></li>
                            <li><a href="#">acc3</a></li>
                        </ul>
                    </div>
                </div>
                <button class="btn">CANCEL</button>
                <button class="btn" type="submit">ADD THIS</button>
            </div>
        </div>
    </div>
    <div>
        <label for="contact-name">Name</label>
        <input type="text" [(ngModel)]="emiContact.name">
    </div>

    <div *ngFor="let emilieContact of contacts">
        <div>
            <p>{{emilieContact.name}}</p>
        </div>
    </div>
    <button (click)="addContact()">Submit New Contact</button>

</div>