<div class="row">
    <p>Here we display the selected transaction</p>
    <h4 class="list-group-item-heading">{{transaction.category}}
        <!-- calling this with item.nameofthepropfromtrans-list.comp -->
    </h4>
    <p class="list-group-item-text">{{transaction.amount}}</p>
    <p class="list-group-item-text">{{transaction.date}}</p>
    <p class="list-group-item-text">{{transaction.account}}</p>

    <pre class="list-group-item-text">{{transaction.transactionType}}</pre>

    <img src="{{transaction.icon}}" alt="the image should be here :(" class="img-responsive" style="max-height: 30px">
    <button type="button" class="btn">Delete that</button>
</div>

<!-- <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div> -->