html {
    height: 100%;
    min-height: 800px;
}

.mainbox {
    background: linear-gradient(135deg, #179a6c) 0%, #aed86d no-repeat;
    height: 100%;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
}

.butts2 {
    color: #fff;
    background-color: #333;
    padding: 10px;
    border-radius: 4px;
    flex-shrink: 0;
}

.logbox {
    max-width: 400px;
    min-width: 200px;
    width: 100vw;
    height: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
}

.account-message,
.account-message>a {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

.account-message>a {
    text-decoration: underline;
}

.form-group>input {
    height: 40px;
}

.form-group>label {
    font-weight: normal;
    color: #333;
    margin-bottom: 0;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #fff;
    text-decoration: none;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
    outline-offset: 0;
}

.butts2:hover,
.butts2:focus,
.butts2:active {
    background-color: #8659de;
    /* font-weight: bold; */
}

img {
    height: 270px;
    width: auto;
}

.login {
    padding-top: 10px;
}

.bubblebox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bubblebox2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.bubble {
    width: 400px;
    height: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #333;
    font-family: "Handlee", sans-serif;
    font-size: 1.3em;
}

.bubble>p {
    margin-bottom: 0;
    text-align: center;
}

#queue {
    height: 20px;
}

form>.alert {
    border: none;
    background: none;
    padding: 0;
    margin: 0px 0 20px;
    font-weight: bold;
}

.form-control:focus {
    border-color: #8659de;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(195, 104, 214, .6);
}


/* ============ THE FLOATING ANIMATION ===========  */

@keyframes floating {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    50% {
        transform: translateY(+5px);
        opacity: 1;
    }
    70% {
        transform: translateY(-5px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.fox {
    display: flex;
    justify-content: center;
    animation: floating 7s infinite;
}