.chart {
    margin-top: 80px;
}

p {
    font-size: 1.8em;
    text-align: center;
}

.box {
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    padding: 20px;
    width: 100%;
}

#bot {
    margin-bottom: 30px;
}

.fox-comp {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 15px;
    animation: 'foxon' 0.5s ease-in;
}

@keyframes foxon {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

img {
    height: 100px;
}

.bubblebox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 10px;
}

.bubblebox2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.bubble {
    margin-left: 20px;
    width: auto;
    max-width: 400px;
    height: auto;
    padding: 12px;
    /* background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); */
    background-color: #68BB6D;
    border-radius: 4px;
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.3em;
    animation: 'bubbleon' 0.5s ease-in;
}

@keyframes bubbleon {
    0% {
        padding: 12px;
    }
    50% {
        padding: 18px;
    }
    100% {
        padding: 12px;
    }
}

.bubble>p {
    margin-bottom: 0;
    text-align: center;
    font-size: 1.3em;
}

[hidden] {
    display: none !important;
}

.big-box {
    animation: 'bigboxon' 1s ease-in;
    animation-play-state: paused;
}

.big-box:hover {
    animation-play-state: running;
    border: 1px solid red;
}

@keyframes bigboxon {
    from {
        margin-top: -2px;
    }
    to {
        margin-top: 0;
    }
}

.fufu {
    height: 30px;
    width: 30px;
    background-color: red;
    display: flex;
}