<p>
    overlay-exp works!
</p>

<div class="row">
    <div class="form-group">
        <div class="col-sm-6">
            <label for="amount">Amount</label>
            <input type="number" id="amount" class="form-control">
        </div>
        <div class="col-sm-6">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">JavaScript</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <div class="row">
                    <div class='col-sm-6'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker1'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            $('#datetimepicker1').datetimepicker();
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Account selection
  <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">acc1</a></li>
                    <li><a href="#">acc2</a></li>
                    <li><a href="#">acc3</a></li>
                </ul>
            </div>
        </div>
        <button class="btn">CANCEL</button>
        <button class="btn" type="submit">ADD THIS</button>
    </div>
</div>