@media only screen and (min-width: 768px) {
    .income-block {
        background: linear-gradient(to bottom right, rgb(255, 165, 114), rgb(136, 55, 9));
        padding: 20px;
        width: 100vw;
        position: fixed;
        bottom: -20px;
        left: 0px;
        height: 50vh;
        animation-name: comeHither;
        animation-duration: 0.8s;
        color: #fff;
    }
}

@media only screen and (min-width: 100px) and (max-width: 767px) {
    .income-block {
        background: linear-gradient(to bottom right, rgb(255, 165, 114), rgb(136, 55, 9));
        padding: 20px;
        width: 100vw;
        position: fixed;
        bottom: -20px;
        left: 0px;
        height: 80vh;
        overflow-y: scroll;
        animation-name: comeHither;
        animation-duration: 0.8s;
        color: #fff;
    }
}

@media only screen and (min-width: 100px)and (max-width: 767px) {
    .empty {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {
    .empty {
        display: initial;
    }
}

.title {
    text-align: center;
    font-size: 1.3em;
}


/* form {
    display: flex;
    justify-content: center;
} */

.col-sm-6 {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}


/* ===== BUTTONS ===== */

.btn {
    border-radius: 35px;
    height: 35px;
    color: #fff;
}

.btn-exp {
    background-color: #FD7326;
    box-shadow: 0px 2px 0px rgba(178, 86, 35, 1);
    margin-left: 10px;
}

.btn-cancel {
    background-color: #868786;
    box-shadow: 0px 2px 0px rgba(68, 68, 68, 1);
}

.btn-exp:focus,
.btn-exp:hover,
.btn-cancel:focus,
.btn-cancel:hover {
    outline: none;
    transform: translateY(2px);
    box-shadow: none;
}

.btn-exp:active,
.btn-cancel:active {
    outline: none;
}


/* ===== BUTTONS STYLING ===== */

.inputbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-left: 15px;
}

input,
select {
    background-color: white;
    border-radius: 40px;
    height: 40px;
    max-width: 400px;
    min-width: 300px;
    color: #333;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.2em;
    border: none;
    outline: none;
}

input:hover,
input:active,
input:focus {
    border: none;
    outline: none;
}

select {
    -webkit-appearance: none;
}

option {
    color: #333;
}

.input-group-btn {
    align-self: center;
    margin-left: -40px;
}

.relative {
    position: relative;
}

.center-that {
    align-self: center;
}

.date {
    display: flex;
    width: 100%;
}

.date>input {
    width: 100%;
}


/* The animation code */

@keyframes comeHither {
    from {
        transform: translateY(50vh);
    }
    to {
        transform: translateY(0px);
    }
}

#understood {
    text-decoration: underline;
    float: right;
}

.alert-danger {
    padding: 10px;
    margin-top: 10px;
    color: #ffffff;
    background-color: #7d2422;
    border-color: transparent;
}


/* ========== ANGULAR HELL =========== */


/* .mat-input-container .ng-tns-c10-4 .ng-untouched .ng-pristine .ng-invalid .mat-input-flex .mat-input-flex  */


/*
/deep/ .mat-input-infix {
    top: 25px;
    left: 15px !important;
    max-width: 160px;
}

/deep/ .mat-input-underline {
    display: none;
}


/*  .mat-input-container .ng-tns-c10-4 .ng-pristine .ng-invalid .mat-input-invalid .ng-touched .mat-focused>*/


/*
/deep/.mat-focused .mat-input-placeholder.mat-float {
    color: #333;
    transform: translateY(-30px);
    overflow: visible;
    height: 100px;
}

/deep/ .mat-input-placeholder-wrapper {
    margin-top: -30px;
}

.input-smthg {
    margin-top: -5px;
    margin-left: 15px;
}

.mat-input-container {
    background-color: white;
    width: 100%;
    max-width: 200px;
    height: 40px;
    border-radius: 40px;
}
*/