<div class="banner">

    <div class="balance">
        <h3>BALANCE</h3>
        <h1>BALANCE.VALUE</h1>
    </div>

    <div class="button-wrap example-sidenav-content">
        <button type="submit" class="btn" (click)="toggle_class()">EXPENSE</button>

        <button type="submit " class="btn " (click)="toggle_class()">INCOME</button>
    </div>

</div>

<div class="container">

    <div class="row">
        <app-fox></app-fox>
    </div>

    <div class="row">
        <app-transactions></app-transactions>
    </div>

    <div class="row">
        <app-budgets-list></app-budgets-list>
    </div>

    <div class="row">
        <app-charts-list></app-charts-list>
    </div>
    <div class="row">
        <!-- assign loaded overlay event to expense in app component -->

        <app-overlay-exp [hidden]="overlayIsHidden"></app-overlay-exp>

        <!-- expense is a keyword coming from header html -->

        <app-overlay-inc [hidden]="overlayIncIsHidden"></app-overlay-inc>

    </div>

</div>