<div class="row">
    <button class="btn btn-success">New transaction</button>
</div>

<div class="row">
    <div class="col-md-4">
        <!-- add each item html on transaction items html component -->
        <app-transactions-items *ngFor="let itemEl of transactions" [item]="itemEl" (transactionSelected)="onTransactionSelected()"></app-transactions-items>
        <!-- transaction is a property in the component we're placing this on (transaction-items ts file) -->
        <!-- ngFor added so it displays items, in items component html file-->
        <!-- eventEmitter coming from the items component ts file -->
        <!-- onTransactionSelected() comes from transaction comp ts file -->
    </div>
</div>

<!-- <p (click)="clicked($event)">click me</p> -->
<div class="row">
    <div class="col-md-4">
        <app-transactions-pop-up></app-transactions-pop-up>
    </div>
</div>