<p>transactions-list works!</p>

<div class="row">
    <button class="btn btn-success">New transaction</button>
</div>

<div class="row">
    <a href="#" class="list-group-item clearfix">
        <h4 class="list-group-item-heading">{{category}}</h4>
        <p class="list-group-item-text">{{amount}}</p>
        <p class="list-group-item-text">{{date}}</p>
        <img src={{iconpath}} alt="" class="img-responsive" style="max-height: 30px">
    </a>
    <app-transactions-items></app-transactions-items>
</div>