<div class="mainbox">

    <div class="bubblebox">
        <div class="bubble">
            <p>Nice to meet you. I'm here to help you with your finances. Let's do this!</p>
        </div>
    </div>
    <div class="bubblebox2">
        <img src="http://localhost:3000/images/queue.png" id="queue" alt="queue bulle">
    </div>

    <div class="fox">
        <img src="http://localhost:3000/images/fox-hi.png" alt="the fox should be here">
    </div>

    <div class="login">
        <div class="logbox">
            <p class="title">SIGN UP</p>
            <form (ngSubmit)="submitSignup()" #myForm="ngForm">
                <div class="form-group">
                    <label for="InputUsername">Email Address</label>
                    <input type="email" class="form-control" id="InputUsername" placeholder="Email Address" [(ngModel)]="user.username" name="username">
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" id="InputPassword" placeholder="Password" [(ngModel)]="user.password" name="password">
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">{{ error.statusText }}</div>
                <button type="submit" class="btn butts2">Login</button>
            </form>
            <p class="account-message">
                You already have an account? <a [routerLink]="['/login']">Login</a>
            </p>

        </div>
    </div>

</div>