.fox-comp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

img {
    height: 100px;
}

.bubblebox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.bubblebox2 {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.bubble {
    margin-left: 20px;
    width: auto;
    max-width: 400px;
    height: auto;
    padding: 12px;
    /* background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); */
    background-color: #68BB6D;
    border-radius: 4px;
    color: #fff;
    font-family: 'Shadows Into Light', cursive;
    font-size: 1.3em;
}

.bubble>p {
    margin-bottom: 0;
    text-align: center;
}