.header {
    width: 100vw;
    height: 150px;
    color: #fff;
    display: flex;
    justify-content: center;
}

.banner {
    width: 100vw;
    height: 130px;
    background: linear-gradient(to bottom right, #BF186F, #39C9DF);
}

button {
    height: 40px;
    align-self: flex-end;
    border-radius: 40px;
    color: #fff;
}

.exp {
    background-color: #BD1A70;
}

.inc {
    background-color: #3DC4DC;
}