/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    font-family: 'Amaranth', Arial, Helvetica, sans-serif
}

body,
html {
    margin: 0;
    width: 100%;
}

html {
    background-color: #F2FEF1;
}