<div class="mainbox">

    <div class="banner">
        <div class="banner-image">

            <div class="balance">
                <h3>Your balance</h3>
                <h1>{{user.balanceAmount}}</h1>
            </div>

            <img src="http://localhost:3000/images/fox-ye.png" alt="fox yes" [hidden]="foxyes" class="is-paused">
            <img src="http://localhost:3000/images/fox-oh.png" alt="fox oh" [hidden]="foxoh" class="is-paused" id="oh">

            <div class="button-wrap example-sidenav-content">

                <button type="submit" class="btn btn-exp" (click)="toggle_class()" on-mouseover='onHoverOh()' on-mouseleave='onLeaveOh()'>EXPENSE</button>

                <button type="submit " class="btn btn-inc" (click)="toggle_classInc()" on-mouseover='onHover()' on-mouseleave='onLeave()'>INCOME</button>

            </div>
        </div>

    </div>

    <div class="container">

        <div class="row fox">
            <app-fox></app-fox>
        </div>

        <div class="transactions">
            <app-transactions></app-transactions>
        </div>

        <div class="thewholechart col-md-10">
            <app-charts class="charts"></app-charts>
        </div>

        <div class="row">

            <app-overlay-exp (hide)='onHide($event)' [hidden]="overlayIsHidden"></app-overlay-exp>

            <app-overlay-inc (hide)='onHide($event)' [hidden]="overlayIncIsHidden"></app-overlay-inc>
        </div>



    </div>

</div>

<footer class="footer">
    <div class="logout">
        <div class="topout">
            <p>Thanks to all the TAs and Tair <i class="fa fa-heart-o" aria-hidden="true"></i></p>
        </div>
        <div class="topout">
            <a href="#">Logout</a>
        </div>
    </div>
</footer>