<div class="mainbox">

    <div class="banner">
        <div class="banner-image">

            <div class="balance">
                <h3>Your balance</h3>
                <h1>{{transactionService.getBalance()}}</h1>
            </div>

            <div class="button-wrap example-sidenav-content">

                <button type="submit" class="btn btn-exp" (click)="toggle_class()">EXPENSE</button>

                <button type="submit " class="btn btn-inc" (click)="toggle_classInc()">INCOME</button>

            </div>
        </div>

    </div>

    <div class="container">

        <div class="row fox">
            <app-fox></app-fox>
        </div>

        <div class="transactions">
            <app-transactions></app-transactions>
        </div>

        <!-- <div class="col-md-4 col-xs-12 budgets">
            <app-budgets-list></app-budgets-list>
        </div> -->

        <div>
            <app-charts class="charts"></app-charts>
        </div>

        <div class="row">
            <!-- assign loaded overlay event to expense in app component -->
            <app-overlay-exp (hide)='onHide($event)' [hidden]="overlayIsHidden"></app-overlay-exp>
            <!-- expense is a keyword coming from header html -->
            <app-overlay-inc (hide)='onHide($event)' [hidden]="overlayIncIsHidden"></app-overlay-inc>
        </div>



    </div>

</div>

<footer class="footer">
    <div class="row logout">
        <a href="#">Logout</a>
    </div>
</footer>