<app-header (featureSelected)="onNavigate($event)"></app-header>
<!-- event method from header component -->
<div class="container">

    <div class="row">
        <app-fox></app-fox>
    </div>

    <div class="row">
        <app-transactions></app-transactions>
    </div>

    <div class="row">
        <app-budgets-list></app-budgets-list>
    </div>

    <div class="row">
        <app-charts-list></app-charts-list>
    </div>
    <div class="row">
        <!-- assign loaded overlay event to expense in app component -->
        <app-overlay-exp *ngIf="loadedOverlay === 'expense'"></app-overlay-exp>
        <!-- expense is a keyword coming from header html -->
    </div>
    <!-- <ng-sidebar [(opened)]="_opened"> -->
    <div class="row">
        <app-overlay-inc *ngIf="loadedOverlay !== 'expense'"></app-overlay-inc>
    </div>
    <!-- </ng-sidebar> -->
</div>